// Here you can add other styles

table th, table td { white-space: nowrap; }

.modal-header {
    background-color: darkblue;
    color: white;
}

@media print {
    .hidden-print {
        display: none;
    }
}

.invoice-template {
    font-size: 1.4rem;

    .form-control {
        font-size: 1.2rem !important;
    }
}

.react-bootstrap-table table {
    table-layout: auto !important;
}